@import url('http://fonts.googleapis.com/css?family=Lato');
body
{
background-image:url(black_linen_v2.png);
font-family:Lato;
}
.form-container
{
position: absolute;
text-align: center;
top: 10%;
background-color: #ffffff;
left: 40%;
right: 30%;
background-color:#fafafa;
}
p
{
display:block;
}
.contact-message
{
padding: 10px 1px 10px 19px;
width:80%;
height:200px;
border:none;
background-color:#ffffff;
border:1px;
border-radius:10px;
}
.contact-submit
{
font-weight: bold;
font-family: sans-serif;
border:none;
height: 50px;
width: 80%;
background-color: #1abc9c;
color:#ffffff;
border:1px;
border-radius:10px;
}

.contact-submit:hover
{
background-color:#9b59b6;
}

.contact-name,.contact-email
{
padding:10px 1px 10px 19px;
height:30px;
width:80%;
background-color:#ffffff;
border:none;
border:1px;
border-radius:10px;
}

