@import url('fonts/css/sofadiOne.css');
label
{
    padding: 45px 100px;
    border: 2px solid;
    border-radius: 400% 400% 400% 400%;
    line-height: 40em;
    margin: 20%;
}

h1
{
font-family:SofadiOne;
}
.sidebar
{
background-color:#000;
}
a
{
color:#000;
text-decoration:none;
}
/****************Menu***********************/
#nav
{
padding:0;
margin:0;
list-style-type:none;
background-color:#27ae60;
text-align:center;
}
#nav li a, #menu li ul
{
list-style-type:none;
color:#000;
text-decoration:none;
font-size:25px;
font-family:open sans-serif;
margin:20px;

}
#menu li a, #menu li ul
{
text-decoration:none;
color:#000;
display:inline-block;

}
#menu li
{
position:relative;
display:inline-block;
}
#menu li ul
{
display:none;
position:absolute;
top:30px;
left:0px;
width:100px;
}
#nav li a:hover
{
color:#fff;
}
#nav.scrolled {
  margin: 0;
  position: fixed;
  top: 0;
}

#nav.scrolled ul li {
  margin: 0;
}
#menu
{
background-color:#27ae60;
opacity:0.7;
}
